.loader {
  margin: 50px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  border-top: 3px solid #0178ff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
